/* reset CSS */
* {
    padding: 0;
    margin:0;
    box-sizing: border-box;

}
 /* comon */
html{
    font-family:Helvetica;
}


.witdh-171{
    width: 171px !important;
}
.font-11{
    font-size: 11px !important;
    line-height: 1.2rem;
}
.font-10{
    font-size: 10px !important;
    line-height: 1.2rem;
}
.font-12{
    font-size: 12px !important;

}
.color-333{
    color: #333 !important;
}
.color-f50{
    color: #f50 !important;
}
.color-999{
    color: #999 !important;
}
.color-38d{
    color: #38d !important;
}

.bordercolor-f50{
    border-color: #f50 !important;
}
.radius-50{
    border-radius: 50% !important;
}
.border-top{
    border-top: 1px solid #f2f2f2;
}
.border-right{
    border-right: 1px solid #111;

}
.ml-4{
    margin-left: 4px !important;
}
.margin-bottom-34{
    margin-bottom: 34px;
}
.padding-14-0{
    padding: 14px 0px;
}
.padding-8-0{
    padding: 8px 0px;
}
.padding-4-2{
    padding: 4px 2px !important;
}
.font-size-16{
    font-size: 16px !important;
}
.font-size-12{
    font-size: 12px !important;
}
.float-right{
    float: right;
}
.color-opa-07{
    color: hsla(0,0%,100%,.7) !important;
    
}
.color-white{
    color: #fff !important;
}
.header{
    position: fixed;
    height: 46px;
    width: 100%;
    background-color: #333;
    z-index: 10;
}
.background-black{
    background-color: #000;
}
.background-333{
    background-color: #333 !important;
}
.header-container{
    margin: 0 140px;
    height: 100%;
    display: flex;
    flex-direction: row;

}
.header-container__left{
    display: flex;
    flex: 0.723;
    width: 100%;
}
.header-container__left-logo{
    background-color: rgb(0, 0, 0);
    height: 100%;
    color: #fff;
    width: 70px;
    text-align: center;
    cursor: pointer;
    
}
.logo-icon{
    font-size: 46px;
}

.header-container__bar-items{
    padding: 14px 0px;
    color: #ccc;
    text-align: center;
    flex: 1;
    font-size: 14px;

}
.header-container__bar-items:hover{
    color: #fff;
    cursor: pointer;
}

.header-search{
    padding: 9px 10px 8px;
    width: 100%;
    display: flex;
    flex: 1;
    position: relative;
}
.search-input{
    width: 100%;
    height: 28px;
    color: #666;
    outline: 0;
    border: 0;
    padding: 5px 7px;
    background: #e5e5e5;
    border-radius: 5px;

}
.search-input:focus{
    background-color: #fff;
}
.search-input:focus ~.search-result-container{
    display: block;
}

.search-button{
    position: absolute;
    height: 30px;
    right: 18px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
    color: #666;
}

.search-result-container{
    position: absolute;
    top: 100%;
    left: 0;
    width: 95%;
    background-color: #000;
    color: rgb(174, 174, 174);
    list-style: none;
    display: none;
    animation: fade 0.5s ease;

}
.search-result-item{
    font-size: 13px;
    font-weight: 100;
    height: 40px;
    cursor: pointer;
    padding: 12px 0px;
}
.search-result-item:hover{
    background-color: #333;
}
.search-result-item_icon{
    padding: 12px;
}

.header-right{
    display: flex;
    flex: 0.65;
}
.header-right_item-upload{
    height: 100%;
    text-align: center;
    font-size: 14px;
    color: #ccc;
}

.header-right_UserNav{
    padding: 14px 8px;
    display: flex;
    text-align: justify;
    flex: 2;
    justify-items: center;
    position: relative;


    -moz-user-select: none !important;
    -webkit-touch-callout: none!important;
    -webkit-user-select: none!important;
    -khtml-user-select: none!important;
    -moz-user-select: none!important;
    -ms-user-select: none!important;
    user-select: none!important;


    
}
.user-avatar{
    width: 26px;
    height: 26px;
    position: relative;
    
}
.img-avatar{
    position: absolute;
    width: 100%;
    height: 26px;
    border-radius: 50%;
    top: -3px;
   
}

.user-name{
    margin: 0px 6px;
    overflow: hidden;
}

.header-menulist{
    position: absolute;
    top: 100%;
    /* left: 0; */
    list-style-type: none;
    width: 134px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 1px #000;
    display: none;


    -moz-user-select: none !important;
    -webkit-touch-callout: none!important;
    -webkit-user-select: none!important;
    -khtml-user-select: none!important;
    -moz-user-select: none!important;
    -ms-user-select: none!important;
    user-select: none!important;
    
}
.menu-left{
    left: 0;
}
.menu-right{
    right: 0;
}
.header-optionlist{
    padding: 8px 10px;   

}
.header-optionlist:hover{
    background-color:#f2f2f2 ;
}


.header-optionlist_profile{
    text-decoration: none;
    color: #333;
    font-size: 12px;
    font-weight: 600;
    text-align: left;
    display: block;

}
.header-optionlist_profile-icon{
    margin-right: 4px;
}
.selected{
    background-color: #000;
    color: #fff;
}
.relative{
    position: relative;
}
.nav-more{
    position: relative;
}
.bell-btn{
    position: relative;
}
.position-noti{
    left: -242px;
}
.position-mail{
    left: -296px;
}
.menu-notification{
    position: absolute  ;
    top: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: 0;
    border-radius: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    cursor:auto ;
    width: 400px;
    display: none;
}
.menu-notification:hover{
    cursor: auto;
    
}
.menu-notification_header{
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;
}
.menu-title {
    font-size: 16px;
    color: #333;
    font-weight: 500;
    padding: 8px 0px;
}
.menu-setting-btn{
    color: #999;
    font-size: 12px;
    text-decoration: none;
    padding: 8px 10px;
}
.menu-setting-btn:hover{
    color: #333;
    
}
.menu-notification_body-message{
    padding: 16px;
    font-size: 12px;
    color: #999;
}
.menu-notification_footer{
    text-decoration: none;
    display: block;
    padding: 16px;
    font-size: 12px;
    color: #333;
}
.body{
    background-color: #f2f2f2;
    display: flex;
    height: 2000px;

}
.content-container{
    margin: 46px 140px;
    background-color: #fff;
    width: 100%;
    padding: 0 30px;
    display: flex;
    flex-direction: row;
}
.row{
    display: flex;
    width: 100%;
}

.content-container_left{
    padding: 30px 30px 0px 0px;
    flex: 1;
    border-right: 1px solid #f2f2f2;
    display: flex;

}
.content-container_right
{
    flex: 0.48;
}


.modul-left{
    margin-bottom: 34px;
    width: 100%;
    flex: 1;
}
.modul-left_title{
    font-size: 24px;
    font-weight: 100;
}
.modul-left_describe{
    margin-top: 5px;
    margin-bottom: 24px;
    font-weight: 100;
    color: #999;
    font-size: 14px;
}
.modul-left_container{
    position: relative;
    display: flex;
    width: 800px;
    overflow: hidden;
}
.col{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.border-bottom{
    border-bottom: 1px solid #f2f2f2;
}

.radius-top{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.radius-end{
    border-bottom-left-radius:3px ;
    border-bottom-right-radius: 3px;
}
.modul-left_item{
    width: 186px;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    padding-right: 20px;


    -moz-user-select: none !important;
    -webkit-touch-callout: none!important;
    -webkit-user-select: none!important;
    -khtml-user-select: none!important;
    -moz-user-select: none!important;
    -ms-user-select: none!important;
    user-select: none!important;

}
.modul-left_item-container-img{
    width: 100%;
    height: 172px;
    box-shadow: 1px 1px 1px #ccc;
    margin: 0px 0px 0px 0px;
    cursor: pointer;
}

.modul-left_backgroud{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 5%, rgba(0, 0, 0, 0.4) 111%);
    display: none;
}

.modul-left_item-container-img:hover .modul-left_playbtn {
    display: block;
}
.modul-left_item-container-img:hover .modul-left_option-group {
    display: block;
}
.modul-left_item-container-img:hover .modul-left_backgroud {
    display: block;
}


.modul-left_image{
    width: 100%;
    height: 100%;
}

.modul-left_playbtn{
    position: absolute;
    top: 40%;
    left: 31%;
    display: none;
}
.modul-left_playbtn-icon{
    background-color: #f50;
    border-radius: 50%;
    padding: 13px 18px;
    font-size: 30px !important;
    color: #fff !important;
}
.modul-left_playbtn-icon:hover{
    background-color: #f30;
    cursor: pointer;
}
.modul-left_playbtn-icon i {
    margin-left: 4px;
}

.modul-left_item a {
    text-decoration: none;
    font-size: 14px;
    color: #333;
    margin-top: 10px;
    overflow: hidden;
}
.modul-left_item span{
    color: #999;
    font-size: 12px;
}


.modul-left_option-group{
    position: absolute;
    bottom: 7px;
    right: 6%;
    display: none;
}

.slider{
    display: flex;
    flex-direction: row;
    width: 500%;
    transition: 1s ease;
    /* animation: vibrate 0.6s ease ; */
}
.right-btn{
    position: absolute;
    right: -10px;
    top: 25%;
    padding: 10px 14px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #e5e5e5;
    cursor: pointer;
    color: #333;
    font-size: 11px;
}

.right-btn:hover{
    border: 1px solid #ffbf00;
    color: #ffbf00;

}

.slide-left{
    margin-left: -84%;
    
}

.left-btn{
    position: absolute;
    left: -10px;
    top: 25%;
    padding: 10px 14px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #e5e5e5;
    cursor: pointer;
    color: #333;
    font-size: 11px;
    display: none;
}
.left-btn:hover{
    border: 1px solid #ffbf00;
    color: #ffbf00;
}

.content-container_right{
    padding: 30px 0px 0px 30px;
}
.slidebar-modul{
    margin-bottom: 20px;
}
.slidebar-modul_linkrefresh {
    display: block;
    font-size: 14px;
    text-decoration: none;
    color: #999;
    padding-bottom: 8px;
}
.slidebar-modul_container{
    padding-top: 5px;
}
.slidebar-modul_item{
    padding: 10px 0px;
    position: relative;
}
.slidebar-modul_item-img{
    width: 50px;
    height: 50px;
}
.slidebar-modul_item-img img{
    height: 100%;
}
.slidebar-modul_item-content{
    margin-left: 10px;
    color: #999;
}
.slidebar-modul_item-content span{
    font-size: 14px;
}
.slidebar-modul_item-content-rate{
    margin-top: 4px;
}
.slidebar-modul_item-content-number{
    margin: 0 4px;
}
.follow-btn{
    display: flex;
    font-size: 11px;
    padding: 4px 8px;
    height: 20px;
    border: 1px solid #e5e5e5;
    color: #333;
    background-color: #fff;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 20px;
}
.follow-btn:hover{
    border-color: #ccc;
}
.follow-icon{
    margin-right: 4px;
}
.check-icon{
    background-color: #38d;
    color: #fff;
    border-radius: 50%;
    width: 12px;
    height: 10px;
    font-size: 10px;
    padding: 0 3px;
}
.bar-right_play-btn{    
    position: absolute;
    top: 15px;
    left: 11px;
    display: none;
}
.bar-right_play-btn-background{
    background-color: #f50;
    padding: 8px 10px;
    color: #fff;
    text-decoration: none;
    font-size: 11px;
    text-align: center;
    cursor: pointer;
}
.bar-right_play-btn-background:hover{
    background-color: rgb(218, 73, 0);
}
.button-group-small{
    position: absolute;
    display: flex;
    top: 16px;
    right: 0px;
    display: none;
}
.bar-right_heart-btn{
    border: 1px solid #e5e5e5;
    background-color: #fff;
    border-radius: 3px;
    font-size: 11px;
    padding: 4px 6px;
    margin-right: 2px;
    cursor: pointer;
}
.bar-right_heart-btn:hover{
    border-color: #f50;
}
.modul-right-hover:hover .bar-right_play-btn  {
    display: block;
}
.modul-right-hover:hover .button-group-small  {
    display: block;
}
.sliderbar-footer{
    margin-top: 11px;
    font-size: 12px;
    color: #ccc;
}
.link-sliderbarfooter{
    font-size: 12px;
    color: #ccc;
    text-decoration: none;
    font-weight: 500;
}
.link-sliderbarfooter:hover{
    color: #999;
}
.list-music{
    padding: 20px 14px 20px 20px;
    background: linear-gradient(135deg, rgb(173, 167, 159) 0%, rgb(92, 94, 96) 100%);
}
.list-music_image{
    width: 180px;
    height: 180px;
}
.list-music_image img{
    width: 100%;
    height: 100%;
}
.list-music-container{
    width: 76%;
    height: 180px;
    padding-left: 14px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.list-music-item{
    height: 40px;
    color: hsla(0,0%,100%,.7);
    border-bottom: 1px solid hsla(0,0%,100%,.1);
    list-style: none;
    padding: 11px 8px;
    overflow: hidden;
    display: flex;

    
}
.list-music-item span{
    font-size: 14px;
}
.list-music-item:hover{
    background: hsla(0,0%,100%,.1);
    border-bottom: 1px solid transparent;
    outline: 0;
    cursor: pointer;
}
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-thumb{
    background-color: gray;
    border-radius: 6px;
}
.list-music-item_detail-song{
    overflow: hidden;
    flex: 1;
}
/* 
.list-music-item_group{
    flex: 0.5;
} */
.list-music-item_play-rate{
    float: right;
}

.group-btn_right{
    position: absolute;
    left: 16px;
    top: -2px;
    display: none;
}
.group-btn_right button{
    padding: 4px 8px;
    font-size: 11px;
    margin: 0;
    border: 1px solid #fff;
    color: #fff;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 4px;
    cursor: pointer;
}

.list-music-item:hover .group-btn_right{
    display: block;
}
.list-music-item:hover .list-music-item_group{
   flex: 0.5;
}
.list-music-item:hover .list-music-item_play-rate{
    display: none;
}


.player-control{ 
    position: fixed;
    bottom: 0px;
    height: 49px;
    width: 1535px;
    background-color: #f2f2f2;
    border-top: 1px solid #cecece;
}
.player-control_container{
    margin: 0px 140px;
    display: flex;
}
.player-control_btn-group{
    display: flex;
}
.player-control_btn-group button{
    background-color: #f2f2f2;
    border: none;
    font-size: 16px;
    padding: 15px 4px;
    height: 100%;
    margin-left: 12px;
    font-weight: 200;
    cursor: pointer;
    width: 20px;

}
.player-control_timeline{
    margin-left: 36px;
    display: flex;
    width: 586px;
}
.timeline_time{
    padding: 15px 0px;
    font-size: 12px;
    color: #f50;
}
.progress{
    padding: 22px 0px 0px 0px;
    cursor: pointer;
    margin: 0px 10px;
}
.progress_background{
    height: 1px;
    width: 512px;
    background-color: #ccc;
    cursor: pointer;
}
.total-time{
    padding: 15px 0px;
    font-size: 12px;
    width: 24px;
    
}
.progress_playing{
    height: 1px;
    background-color: #f50;
    width: 0%;
    position: absolute;
    top: 22px;
    cursor: pointer;
}
.progress_handle{
    height: 8px ;
    width: 8px;
    background-color: #f50;
    border-radius: 100%;
    position: absolute;
    top: -4px;
    right: 0%;
    cursor: pointer;
}
.player-control_volume-btn{
    padding: 0px 10px;
    width: 84px;
}
.player-control_volume-btn button{
    background-color: #f2f2f2;
    border: none;
    font-size: 16px;
    padding: 15px 4px;
    height: 100%;
    margin-left: 36px;
    font-weight: 200;
    cursor: pointer;
}
.playing-info{
    width: 365px;
    height: 48px;
    padding: 8px 8px;

}

.playing-info_img{
    height: 30px;
    width: 30px;
    cursor: pointer;
    border: none;
    margin: 0;
    display: flex;

}
.playing-info_img img{
    width: 100%;
    height: 100%;
}
.playing-info_title{
    padding: 0px 10px;
    width: 70%;
    overflow: hidden;
}
.playing-info_title a{
    font-size: 12px;
    line-height: 16px;
    color: #999;
    text-decoration: none;
    display: block;
}
.playing-info_title a:hover{
    color: #000;
    cursor: pointer;
}
.playing-info_title span{
    
    font-size: 12px;
    color: #666;
    font-weight: 400;
    letter-spacing: 1px;
    white-space: nowrap;

}
.playing-info_title span:hover{
    color: #000;
    cursor: pointer;
}
.playing-info_btn-group{
    display: flex;
    float: right;
}
.playing-info_btn-group button{
    background-color: #f2f2f2;
    border: none;
    cursor: pointer;
    margin-left: 12px;
    font-size: 12px;
}


#range-player{
    cursor: pointer;
    margin: 0px 10px;
    height: 1px;
    width: 512px;
    -webkit-appearance: none;
    background: linear-gradient(90deg,#f50 0%,#ccc 0% );
    border-radius: 3px;
    outline: none;
    margin-top: 22px;
}
.range-player::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 8px ;
    width: 8px;
    background-color: #f50;
    border-radius: 100%;
    cursor: pointer;

}   



.play-list{
    position: absolute;
    width: 480px;
    height: 602px;
    background-color: #fff;
    bottom: 110%;
    right: 10%;
    border: none;
    box-shadow: 0 0 4px rgb(0 0 0 / 25%);
    display: none;
    animation: slide 0.5s ease;
}

.play-list-header{
    padding: 9px 24px;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    height: 64px;
    border-bottom: 1px solid #e5e5e5;
}
.play-list-header_title{
    font-size: 16px;
    line-height: 46px;
    height: 46px;
    width: 340px;
    font-weight: 100;
    color: #333;
    cursor: pointer;

}
.play-list-header_clear{

    display: inline-block;
    position: relative;
    height: 26px;
    margin: 0;
    padding: 2px 11px 2px 10px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    background-color: #fff;
    cursor: pointer;
    color: #333;
    font-size: 14px;
    line-height: 20px;
    margin-right: 16px;

}
.play-list-header_clear:hover{
    border-color: #ccc;
    color: #000;
}
.play-list-header_close{
    padding: 3px 10px;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 20px;
}
.play-list-container{
    height: 538px;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
.play-list-item{
    height: 48px;
    padding: 8px 24px;
}
.play-list-item:hover{
    background-color: #f8f8f8;
    cursor: pointer;
}
.play-list-item:hover .play-list-item_total-time{
    display: none;
}
.play-list-item:hover .play-list-item_group-btn{
    display: flex;
}


.play-list-item_img{
    width: 32px;
    height: 32px;
}
.play-list-item_img img{
    height: 100%;
    width: 100%;
}
.play-list-item_info{
    flex: 1;
    margin-left: 8px;
}
.play-list-item_info a{
    color: #999;
    font-size: 12px;
    text-decoration: none;
    display: block;
    padding: 2px 0px;
}
.play-list-item_info span{
    color: #333;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: normal;
}
.play-list-item_footer{
    padding: 9px 0px;
    font-size: 12px;
    flex: 0.16;
}
.play-list-item_footer span{
    float: right;
}
.play-list-item_footer button{
    width: 24px;
    height: 24px;
    border: none;
    background: none;
    cursor: pointer;
}
.play-list-item_group-btn{
    position: absolute;
    right: 0px;
    top: 5px;
    display: none;

}
.play-list-item_status-btn{
    position: absolute;
    top: 5px;
    left: 5px;
    width: 24px;
    height: 24px;
    background-color: #f50;
    border-radius: 100%;
    color: #fff;
    padding: 5px 8px;
    font-size: 12px;
    display: none;
}

.play-list-item:hover .play-list-item_status-btn{
    display: block;
}

.play-list-item_drag-btn{
    position: absolute;
    width: 24px;
    left: 0;
    top: 17px;
    text-align: center;
    cursor: move;
    display: none;
}
.play-list-item:hover .play-list-item_drag-btn{
    display: block;
}

.control-volume{
    position: absolute;
    background-color: #f2f2f2;
    height: 36px;
    width: 128px;
    top: -86px;
    right: -34px;
    box-shadow: 1px 1px 1px #ccc;
    transform: rotate(-90deg);
    cursor: pointer;
    display: none;
    z-index: 3;
    animation: fade 0.3s ease;
}
.control-volume::after{
    content: "";
    width: 15px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: -11px;
    
}




#range-volume{
    cursor: pointer;
    margin: 0px 10px;
    height: 2px;
    width: 106px;
    -webkit-appearance: none;
    background: linear-gradient(90deg,#f50 100%,#ccc 100% );
    border-radius: 3px;
    outline: none;
    position: absolute;
    top: 50%;
}

.range-volume::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 8px ;
    width: 8px;
    background-color: #f50;
    border-radius: 100%;
    cursor: pointer;
}  

.player-control_volume-btn:hover .control-volume {
    display: block;
}

@keyframes slide {
    from{
        transform: translateY(50px);
        opacity: 0;
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes vibrate {
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(-10px);

    }
    100%{
        transform: translateX(0);
    }
}

@keyframes fade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.open{
    display: block !important;
}


.vibrate{
    animation: vibrate 0.4s ease;
}

.modul-left_option-more {
    position: absolute;
    bottom: -58px;
    right: -120px;
    z-index: 99;
    width: 140px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 1px 1px 1px #ccc;
    display: none;

}
.modul-left_option-more button{
    background-color: #fff;
    border: none;
    width: 100%;
    padding: 6px 28px 6px 3px;
    cursor: pointer;
}
.modul-left_option-more button:hover{
    background-color: #f2f2f2;
}
.modul-left_option-more span{
    color: #333 !important;
}